@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
}
* a {
  text-decoration: none;
}

:root {
  --one-blue: rgb(82,148,226);
  --hover-color: rgb(36, 36, 36);
  --border-color: rgb(30 41 59/.5);
  --header-color: rgb(18 24 29/.6);
}

body {
  background-color: #000;
  font-family: "Poppins";
  width: 50vw;
  margin: auto;
}
body header {
  background-color: var(--header-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(10px);
  margin-top: 15px;
  width: 47vw;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 0px;
}
body header .title-div img {
  height: 30px;
  display: none;
}
body header .nav {
  display: flex;
}
body header .nav li {
  display: inline;
  margin: 5px;
  border-radius: 2px;
  position: relative;
}
body header .nav li ul {
  visibility: hidden;
  position: absolute;
  background-color: var(--header-color);
  border-radius: 5px;
  width: 100px;
  margin-top: 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
body header .nav li ul li {
  width: 150px;
}
body header .nav li ul li a {
  transition: 0s;
}
body header .nav li a {
  margin: 0.1vw;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(30, 41, 59, 0);
  transition: 0.3s;
}
body header .nav li a:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--border-color);
}
body header .nav li:hover > ul, body header .nav ul li:hover {
  visibility: visible;
}
body main {
  padding-top: 125px;
  width: 45vw;
  margin: auto;
}
body .main-home section.main-section-first {
  margin-bottom: 50px;
}
body .main-home section.main-section-first .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  margin: 55px 0px;
}
body .main-home section.main-section-first .container h3 {
  letter-spacing: 1px;
  font-weight: 800;
}
body .main-home section.main-section-first .container p {
  color: rgb(155, 155, 155);
}
body .main-home section.main-section-two {
  text-align: center;
  margin: 85px 0;
}
body .main-home section.main-section-two img {
  width: 45vw;
  margin-top: 50px;
  box-shadow: rgba(207, 207, 207, 0.171) 0px 0px 50px 5px;
  border-radius: 5px;
}
body .main-home section.main-section-three {
  text-align: center;
  margin: 85px 0;
}
body .main-home section.main-section-three p {
  margin: 30px 0;
}
body .main-home section.main-section-three div {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
body .main-home section.main-section-three div img {
  margin: 30px 55px;
  border-radius: 5px;
  box-shadow: rgba(207, 207, 207, 0.158) 0px 0px 50px 5px;
}
body .main-article div.top-article {
  text-align: center;
  margin-bottom: 80px;
}
body .main-article div.top-article > img {
  margin: auto;
  border-radius: 5px;
  width: 40vw;
}
body .main-article div.top-article h3 {
  text-align: center;
  margin-top: -4.5vw;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px white;
  font-size: 35px;
  color: rgba(255, 255, 255, 0);
}
body .main-article section.aside-article {
  display: flex;
  width: 45vw;
}
body .main-article section.aside-article .aside {
  width: 25%;
  height: 500px;
  background-color: var(--header-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
body .main-article section.aside-article .aside h3 {
  margin-left: 10px;
  margin-top: 13px;
}
body .main-article section.aside-article .aside ul {
  margin-left: 25px;
}
body .main-article section.aside-article .content {
  width: 71%;
  height: 500px;
  margin-left: 4%;
  text-align: center;
}
body .main-article section.aside-article .content img {
  margin: 20px 0px;
  border-radius: 5px;
  width: 30vw;
}
body .main-blog .blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}
body .main-blog .blog-grid a.article-card {
  padding: 30px 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
}
body .main-blog .blog-grid a:hover {
  border: 1px solid var(--border-color);
  background-color: var(--header-color);
}
body .main-blog .blog-grid img {
  border-radius: 5px;
}
body footer {
  border-top: 1px solid rgb(59, 59, 59);
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  margin-bottom: 50px;
}
body footer h3 {
  text-transform: uppercase;
  color: rgb(189, 189, 189);
}
body footer p, body footer a {
  color: grey;
}
body footer .copyright {
  color: rgb(214, 214, 214);
}

@media (max-width: 1380px) {
  body {
    width: 100vw;
  }
  body header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    width: 100vw;
  }
  body header .title-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header .title-div h1 {
    font-size: 35px;
  }
  body header .title-div img {
    display: block;
    margin: 15px;
  }
  body header .nav {
    flex-direction: column;
    transition: 1s ease;
  }
  body header .nav li {
    margin: 10px;
  }
  body header .nav li ul {
    display: none;
  }
  body header .active {
    display: flex;
  }
  body header .nonactive {
    display: none;
  }
  body main, body footer {
    width: 90vw;
    margin: auto;
  }
  body .main-home section.main-section-first .container {
    grid-template-columns: repeat(1, 1fr);
  }
  body .main-home section.main-section-first .container .card {
    width: 50vw;
    margin: auto;
    margin-top: 15px;
  }
  body .main-home section.main-section-two img {
    width: 85vw;
  }
  body .main-home section.main-section-three div {
    display: block;
  }
  body .main-home section.main-section-three div img {
    width: 70%;
  }
  body .main-article div.top-article {
    text-align: center;
    margin-bottom: 80px;
  }
  body .main-article div.top-article > img {
    margin: auto;
    border-radius: 5px;
    width: 40vw;
  }
  body .main-article div.top-article h3 {
    margin: 0;
  }
  body .main-article section.aside-article {
    display: block;
    margin: auto;
    width: 90vw;
  }
  body .main-article section.aside-article .aside {
    width: 100%;
    height: 60%;
  }
  body .main-article section.aside-article .content img {
    width: 42vw;
    margin-left: 90px;
  }
  body .main-article section.aside-article .content p {
    width: 100%;
    margin-inline-start: 18%;
  }
  body footer {
    margin-top: 50px;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=sctyle.css.map */
